/* Reset default margin and padding */
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Center the content */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the header */
h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Style the "Take Test" link */
.take-test-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.take-test-link:hover {
    background-color: #555;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Style the back link */
.back-link {
    /* display: block; */
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    color: #333;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.back-link:hover {
    background-color: #ddd;
}
